/* Nav Content ----------------------------------------------- */

a:hover {
  color: black;
}

nav {
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .dropdown-toggle:hover {
    border: 2px solid #be1e2d;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .dropdown-toggle {
    background-color: rgba(255, 222, 23, 0.5);
    border: 1px solid #ffde17;
    border-radius: 5px;
  }
}

.dropdown-toggle::after {
  display: none;
}

.icon {
  height: 25px;
  width: 25px;
  background-image: url(images/hamburger.png);
  background-size: cover;
}

@media (min-width: 1200px) {
  .icon {
    height: 50px;
    width: 50px;
  }
}

.dropdown-menu {
  border: 0 !important;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 0;
}

@media (max-width: 767px) {
  .dropdown-menu {
    background-color: rgba(255, 222, 23, 0.8);
  }
}

.dropdown-item {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 1200px) {
  .dropdown-item {
    font-size: 35px;
  }
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

.slideIn {
  animation-name: slideIn;
}

.one:hover {
  color: #21409a;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}

.two:hover {
  color: #be1e2d;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}

/* Hero Content ------------------------------------------------------- */
.background-image {
  position: fixed;
  z-index: -99;
  top: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.5);
}

.author {
  height: 350px;
  width: 450px;
}

.Draper {
  height: 180px;
  width: 200px;
  position: absolute;
  z-index: 2;
  right: 35px;
  bottom: 65px;
  padding-top: 120px;
  padding-left: 60px;
  background-color: #be1e2d;
  color: white !important;
}

.Travis {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 80px;
  background-color: #21409a;
  color: white !important;
  height: 75px;
  width: 450px;
  padding: 5px 15px;
  padding-left: 40px;
  padding-top: 10px;
  margin: 8px auto;
}

.Portfolio {
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: #ffde17;
  color: white !important;
  height: 280px;
  width: 350px;
  text-align: right;
  margin-top: auto auto;
  padding-top: 220px;
  padding-right: 55px;
}

.fourBoxes {
  flex-direction: column;
  position: absolute;
  margin: auto !important;
  left: 88px;
  bottom: 18px;
}

.black-box {
  position: relative;
  background-color: black;
  height: 13px;
  width: 13px;
}

.specialBox {
  margin-top: 14px;
}

.socialMediaLinks {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: -80px;
  opacity: 0;
}

.instagram {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url(images/instagram.png);
  background-size: cover;
}

.facebook {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url(images/facebook.png);
  background-size: cover;
}

/* Hero Title Animation ---------------------------------------  */

/* Hero Title Rest -------------------------- */

@media (min-width: 768px) {
  .Draper {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: Draper;
  }
  .Travis {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: Travis;
    animation-iteration-count: 1 !important;
  }
  .Portfolio {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: Portfolio;
  }
  .fourBoxes {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fourBoxes;
  }
}

  @keyframes Travis {
    0% {
      transform: translateX(200px);
      color: white;
    }

    100% {
      transform: translateX(0);
      color: white;
    }
  }

  @keyframes Draper {
    0% {
      transform: translateX(-200px);
      color: white;
    }

    100% {
      transform: translateX(0);
      color: white;
    }

  }

  @keyframes Portfolio {
    0% {
      transform: translateY(90px);
      color: white;
    }

    100% {
      transform: translateY(0);
      color: white;
    }
  }


  @keyframes fourBoxes {
    0% {
      transform: translateY(-200px);
    }

    100% {
      transform: translateY(0);
    }
  }

/* Hero Title Mobile Rest --------------------  */
@media (max-width: 767px) {
  .Travis {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: TravisHoverMOBILE;
  }

  .Draper {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: DraperHoverMOBILE;
  }

  .Portfolio {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: PortfolioHoverMOBILE;
  }

  .fourBoxes {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fourBoxesHoverMOBILE;
  }
  .special {
    animation-delay: 0.8s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: specialMOBILE;
  }
  .socialMediaLinks {
    animation-delay: 1.05s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: socialMediaLinksMOBILE
  }
}

@keyframes TravisHoverMOBILE {
  0% {
    transform: translateX(0);
    color: white;
  }

  100% {
    transform: translateX(177px);
    color: white;
  }
}

@keyframes DraperHoverMOBILE {
  0% {
    transform: translateX(0);
    color: white;
  }

  100% {
    transform: translateX(-200px);
    color: white;
  }
}

@keyframes PortfolioHoverMOBILE {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(90px);
    color: white;
  }
}

@keyframes fourBoxesHoverMOBILE {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(-200px);
    color: white;
  }
}


@keyframes specialMOBILE {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(-154px);
    color: black;
  }
}

@keyframes socialMediaLinksMOBILE {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Hero Title Hover -------------------------- */
@media (min-width: 768px) {
  .author:hover .Travis {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: TravisHover;
  }

  .author:hover .Draper {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: DraperHover;
  }

  .author:hover .Portfolio {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: PortfolioHover;
  }

  .author:hover .fourBoxes {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fourBoxesHover;
  }
  .author:hover .special {
    animation-delay: 0.8s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: special;
  }
  .author:hover .socialMediaLinks {
    animation-delay: 1.05s;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: socialMediaLinks
  }
}

@keyframes TravisHover {
    0% {
      transform: translateX(0);
      color: white;
    }

    100% {
      transform: translateX(200px);
      color: white;
    }
  }

@keyframes DraperHover {
  0% {
    transform: translateX(0);
    color: white;
  }

  100% {
    transform: translateX(-200px);
    color: white;
  }
}

@keyframes PortfolioHover {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(90px);
    color: white;
  }
}

@keyframes fourBoxesHover {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(-200px);
    color: white;
  }
}


@keyframes special {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(-154px);
    color: black;
  }
}

@keyframes socialMediaLinks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* SubHero Content ------------------------------------------------ */
.subHero {
  margin-top: 98vh;
}

@media (max-width: 767px) {
  .subHero {
    background-color: rgba(255, 245, 181, 1);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.PortfolioContentSheet {
  background-color: rgba(255, 245, 181, 1);
}

@media (min-width: 768px) {
  .PortfolioContentSheet {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.PortfolioContent {
  z-index: 2;
}

.Portfoliotitle {
  right: 20px;
  top: 20px;
}

@media (max-width: 767px) {
  .Portfoliotitle {
    left: 20%;
    right: 20%;
  }

  #Projects {
    margin-right: auto !important;
  }
}

@media (max-width: 575px) {
  .Portfoliotitle {
    left: 8% !important;
    right: 8% !important;
  }
}

.Portfoliotitle {
  background-color: white;
  border: 1px solid black;
}


.coloredBoxRed {
  height: 20px;
  width: 20px;
  background-color: #be1e2d;
}

/* FIRST AND SECOND ROW ------------------------- */
@media (max-width: 767px) {
  .first {
    padding-top: 200px;
  }
}

.first {
    padding-top: 100px;
}

.work-content,
.work-content-2,
.insider {
  flex-direction: column;
}

.imageTitle_1,
.imageTitle_2,
.imageTeaser_1,
.imageTeaser_2 {
  text-align: center;
}

.imageInfo_1,
.imageInfo_2 {
  line-height: 1.66667;
}

h2 a {
  color: black;
}

a:hover {
  text-decoration-color: #be1e2d;
}

.imageTitle_1 {
  text-align: center;
}

@media (max-width: 767px) {

  .work-content-2 {
    order: 2 !important;
  }


  .work-image-2 {
    order: 1 !important;

  }

  .imageInfo_1,
  .imageInfo_2 {
    width: 100%;
  }
}

/* ADDITIONAL WORK CONTENT --------------------- */
.PortfolioOther {
  left: 25px;
  background-color: white;
  border: 1px solid black;
}

@media (max-width: 767px) {
  .PortfolioOther {
    left: 15%;
    right: 15%;
  }

  #OtherWorks {
    order: 1;
    margin-right: auto !important;
    padding-left: 1rem !important;
    padding-right: 0 !important;
  }

  .coloredBoxYellow {
    order: 2;
  }
}

@media (max-width: 575px) {
  .PortfolioOther {
    left: 0 !important;
    right: 44%;
  }

  .OtherWorks {
    font-size: 25px !important;
    font-weight: 600;
  }

  .coloredBoxYellow {
    margin-top: 0.5rem !important;
  }
}

.coloredBoxYellow {
  height: 20px;
  width: 20px;
  margin-top: 1rem;
  background-color: #ffde17;
}

.coloredBoxBlue {
  height: 20px;
  width: 20px;
  margin-top: 1rem;
  background-color: #21409a;
}

.OtherWorkContent {
  margin-top: 140px;
  overflow-x: scroll;
  flex-wrap: nowrap !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
}

.overlay a {
  color: white;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .overlay a {
    font-size: 30px;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .overlay a {
    font-size: 45px;
  }
}

.overlay:hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: overlayHover
}

@keyframes overlayHover {
  0% {
    opacity: 0;
    color: white;
  }

  100% {
    opacity: 1;
    background-color: rgba(255, 222, 23, 0.5);
    color: white;
  }
}

/* ABOUT ME ----------------------------------- */
.portfolioAbout {
  right: 15px;
  top: 10px;
  background-color: white;
  border: 1px solid black;
}

.aboutMeBio {
  padding-top: 80px;
}

@media (max-width: 767px) {
  .aboutMeBio {
    padding-bottom: 0 !important;
  }
}

.spacer {
  width: 100%;
  margin-top: 65vh;
}
