/* Nav Content */
nav {
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  top: 0;
  left: 0;
}

.dropdown-toggle:hover {
  border: 2px solid red;
}

.dropdown-toggle::after {
  display: none;
}

.icon {
  height: 25px;
  width: 25px;
  background-image: url(images/hamburger.png);
  background-size: cover;
}

.dropdown-menu {
  border: 0 !important;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 0;
}

.dropdown-item {
  padding-left: 5px;
  padding-right: 5px;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

.slideIn {
  animation-name: slideIn;
}

.one:hover {
  color: #be1e2d;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}

.two:hover {
  color: #21409a;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}

/* Hero Content */
.background-image {
  position: fixed;
  z-index: -2;
  top: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.5);
}

.author {
  height: 350px;
  width: 450px;
}

.Draper {
  height: 180px;
  width: 200px;
  position: absolute;
  z-index: 2;
  right: 35px;
  bottom: 65px;
  padding-top: 120px;
  padding-left: 60px;
  background-color: #be1e2d;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: Draper;
}

.Travis {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 80px;
  background-color: #21409a;
  height: 75px;
  width: 450px;
  padding: 5px 15px;
  padding-left: 40px;
  padding-top: 10px;
  margin: 8px auto;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: Travis;
  animation-iteration-count: 1 !important;
}

.Portfolio {
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: #ffde17;
  height: 280px;
  width: 350px;
  text-align: right;
  margin-top: auto auto;
  padding-top: 220px;
  padding-right: 55px;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: Portfolio;
}

.fourBoxes {
  flex-direction: column;
  position: absolute;
  margin: auto !important;
  left: 88px;
  bottom: 18px;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fourBoxes;
}

.black-box {
  position: relative;
  background-color: black;
  height: 13px;
  width: 13px;
}

.specialBox {
  margin-top: 14px;
}

.socialMediaLinks {
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: -80px;
  opacity: 0;
}

.instagram {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url(images/instagram.png);
  background-size: cover;
}

.facebook {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url(images/facebook.png);
  background-size: cover;
}

/* Hero Title Animation */

/* Hero Title Rest */
@media (max-width: 576px) {
  @keyframes Travis {
    0% {
      transform: translateX(150px);
      color: white;
    }

    100% {
      transform: translateX(0);
      color: white;
    }
  }
}

@media (min-width: 577px) {
  @keyframes Travis {
    0% {
      transform: translateX(200px);
      color: white;
    }

    100% {
      transform: translateX(0);
      color: white;
    }
  }
}

@keyframes Draper {
  0% {
    transform: translateX(-200px);
    color: white;
  }

  100% {
    transform: translateX(0);
    color: white;
  }

}

@keyframes Portfolio {
  0% {
    transform: translateY(90px);
    color: white;
  }

  100% {
    transform: translateY(0);
    color: white;
  }
}

@keyframes fourBoxes {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Hero Title Hover */
.author:hover .Travis {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: TravisHover;
}

.author:hover .Draper {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: DraperHover;
}

.author:hover .Portfolio {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: PortfolioHover;
}

.author:hover .fourBoxes {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fourBoxesHover;
}

@media (max-width: 576px) {
  @keyframes TravisHover {
    0% {
      transform: translateX(0);
      color: white;
    }

    100% {
      transform: translateX(150px);
      color: white;
    }
  }
}

@media (min-width: 577px) {
  @keyframes TravisHover {
    0% {
      transform: translateX(0);
      color: white;
    }

    100% {
      transform: translateX(200px);
      color: white;
    }
  }
}

@keyframes DraperHover {
  0% {
    transform: translateX(0);
    color: white;
  }

  100% {
    transform: translateX(-200px);
    color: white;
  }
}

@keyframes PortfolioHover {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(90px);
    color: white;
  }
}

@keyframes fourBoxesHover {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(-200px);
    color: white;
  }
}

.author:hover .special {
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: special;
}

.author:hover .socialMediaLinks{
  animation-delay: 1.05s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: socialMediaLinks
}


@keyframes special {
  0% {
    transform: translateY(0);
    color: white;
  }

  100% {
    transform: translateY(-154px);
    color: black;
  }
}

@keyframes socialMediaLinks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* SubHero Content */
.subHero {
  margin-top: 98vh;
  max-width: 100vw !important;
  height: 300px;
  background-color: rgba(245, 245, 220, 1);
}


 rgba(190, 30, 45, 1);
